// The colors duke! The colors!
$color_dark:  #3c3c3c;
$color_mid:   #445566;
$color_light: #b8b8b8;

$color_teal: #005566;
$color_plum: #483b49;

// Fontsicles
$font_sans:  'freight-sans-pro', sans-serif;
$font_sans: 'FreightSansPro', sans-serif;
$font_serif: 'FreightTextPro', serif;

$gap: 32px;
