<div class="content bg-white">
<div class="container">
<section class="regular">
<div class="mb-3 py-1">
    <h2 class="title centered">Website Hosting &#038; Maintenance Agreement</h2>

<p class="font-bold">This agreement starts on Launch Day when the website goes live.</p>
<p>The Web Design &#038; Development Agreement includes 1 .ca domain registration for the first year, as well as 1 domain name
    email for the first year. There are some ongoing costs associated with running your website, and they are as follows:</p>
<p>Annual costs:</p>
<p>Website Hosting $180.00 per year, billed annually</p>
<p>Website Maintenance $180.00 per year, billed annually</p>
<p>These can be billed monthly at a cost of $18.00 per month each.</p>
<p>Domain Registrations</p>
<p>$30 (.ca)</p>
<p>$30 (.com, .org, .net)</p>
</div>
<div class="mb-3 py-1">
<h3>Domain registration</h3>
<p>Your domain needs to be registered every year. We&#8217;re covering the first year, but subsequent years will cost:<br />
$30 (.ca)<br />
$30 (.com, .org, .net)<br />
Other domain extensions are available by request, rates may change without notice.</p>
<p>I will bill you one month prior to your domain expiring. If you do not renew your domain on time, I may still be able to save
    it for you, at an additional charge.</p>
<p>In the event of non-payment of your domain, you may lose your domain to another individual or business. In the case that another
    party purchases your domain, your only recourse is to attempt to contact the new owner and negotiate a purchase.</p>
<p>Domain names registered on your behalf will be registered under the name and address of Rockwynn Web Design, however you will remain
    the legal owner of the domain and can request to have the domain transferred elsewhere. Unless you specify otherwise, I will list you
    as the Owner and Rockwynn as the Administrative, Technical and Billing Contact.</p>
    </div>
    <div class="mb-3 py-1">
<h3>Website hosting</h3>
<p>The cost of hosting your website is $180 per year, billed annually. Or $18.00 monthly.</p>
<p>In the event of non-payment of your hosting fees, your hosting account will be suspended until payment is received. I am not required to
    store your website files on the servers if your payment is 30 days or more past due. Please notify me of your intention to cancel your
    hosting account prior to your files being deleted so I may provide you with a backup of your site for a $100 fee.</p>
    </div>
    <div class="mb-3 py-1">
<h3>Backups</h3>
<p>I make regular and thorough backups of your site so that it may be fully restored in case of loss.	   </p>
</div>
<div class="mb-3 py-1">
<h3>Updates and Upgrades</h3>
<p>I will monitor your website functionality to ensure that everything is working as it should and upgrade where necessary. Some plugins may
    become outdated and no longer work with the newest version of your website software. Plugins may need upgrading to accommodate the newer
    version, or become obsolete with the improvements in the website software.</p>
    </div>
    <div class="mb-3 py-1">
<h3>Email Hosting</h3>
<p>I provide Industry-standard POP, IMAP, and webmail access, as well as email hosting, and the creation of 1 custom domain email address
    within this plan. I will also help you set up the Mobile access for smartphones, iPhone, Blackberry and Android. Additional email addresses
    will cost $50 per year.</p>
    </div>
    <div class="mb-3 py-1">
<h3>Availability of Website</h3>
<p>Rockwynn Web Design has a Hosting Account which achieves a server uptime of around 99.9%.</p>
</div>
<div class="mb-3 py-1">
<h3>Maintenance</h3>
<p>The cost of maintaining your website is $180 per year, billed annually. Or $18.00 monthly. I will provide you with minor updates, they should
    not exceed more than 50% of the content on any single site page. The maintenance plan includes 1 hour of work each month. If you request
    work that will take more than 1 hour in a given month, I&#8217;ll ask you to confirm your plans and bill you at $50.00 per hour. During
    this time, you agree that I will be the sole provider of maintenance services for your Website, and no other party will have access to or
    rights to change your Website. If a party other than myself makes changes to the Website, any errors that are created, that must be repaired
    will be charged for separately.</p>
    </div>
    <div class="mb-3 py-1">
<h3>What IS included in this Agreement?</h3>
<p>Small updates<br />
Edit, revise, update or input new textual content on existing pages.<br />
Update/change photos on existing pages.<br />
Set up 1 custom domain email address.</p>
</div>
<div class="mb-3 py-1">
<h3>What is NOT included in this Agreement?</h3>
<p>Web site redesign or re-development<br />
Search engine optimization services<br />
New pages<br />
CMS design or integration including but not limited to blogs, shopping carts and web forums.<br />
These require a separate design agreement.</p>
</div>
<div class="mb-3 py-1">
<h3>Deadlines &#038; Deliverables</h3>
<p>I will respond to all maintenance requests from you within 48-72 hours or sooner, via email or phone, with a confirmation that I received
    your request, and an estimated completion date. I will adhere to all quoted deadlines for the deliverables in the maintenance requests. In
    the event that I have any issues in delivering on a quoted deadline, I will notify you via email or phone explaining the reasoning for any change.</p>
    </div>
    <div class="mb-3 py-1">
<h3>Additional Services</h3>
<p>Any additions or re-designs you request me to perform that are not specified in this document will require separate agreement and payment.
    I will advise you on any requested work that falls within these bounds.</p>
    </div>
    <div class="mb-3 py-1">
<h3>Termination</h3>
<p>Of course you are free to move your website to a different hosting provider and terminate this contract for whatever reason you may have.
    Any monies paid for annual hosting will not be refundable.</p>
<p>I reserve the right to terminate our contract too if you fail to pay outstanding invoices within a reasonable period or for other reasons
    where I feel we can no longer work together. No maintenance or hosting fees will be refundable in this case, as I pay for my server space
    upfront too.</p>
<p>I will transfer the domain for you, at your request, for a one-time $150 transfer fee. Your new domain registrar may charge an additional
    fee for this service.</p>
<p>If you would like me to move your site for you, there will be a one-time charge of $100.</p>
<p>Any fees payable for moving your website and/or domain name to alternative suppliers will be fully payable by you. Any technical assistance
    I give for moving sites is chargeable at $50 an hour. I will provide you with an estimate of time and the fee shall be paid before any work is done.</p>
</div>
</section>
</div>
</div>
