<div class="content bg-white">
<div class="container">
<section class="regular">
<div class="mb-3 py-1">
<h2 class="title centered">Web Design &amp; Development Process</h2>
<hr>
<h3 class="title">How it works</h3>
</div>
<div class="mb-3 py-1">
<h3>Phase 1 &#8211; Information Gathering</h3>
<p>The first step in designing a successful website is to gather information.
    Many things need to be taken into consideration when I design the look and
    feel of your site, so I first ask a lot of questions to help us understand
    your business and your website needs.</p>
<p>Certain things to consider are:</p>
</div>
<div class="mb-3 py-1">
<h3>Purpose</h3>
<p>What is the purpose of the site? Do you want to provide information, promote
    a service, sell a product…?</p>
    </div>
    <div class="mb-3 py-1">
<h3>Goals</h3>
<p>What do you hope to accomplish by building this website? Two of the more
    common goals are either to make money or share information.</p>
    </div>
    <div class="mb-3 py-1">
<h3>Target Audience</h3>
<p>Is there a specific group of people that will help you reach your goals?
    It is helpful to picture the “ideal” person you want to visit your website.
    Consider their age, sex or interests – this will help us determine the best
    design style for your site.</p>
    </div>
    <div class="mb-3 py-1">
<h3>Content</h3>
<p>What kind of information will the target audience be looking for on your site?
     Are they looking for specific information, a particular product or service…?
</p>
</div>
<div class="mb-3 py-1">
<h3>Phase 2 – Planning</h3>
<p>Using the information gathered from phase one, I put together a plan for your
    website. Here we develop a site map – a list of all main topic areas of the
    site, as well as sub-topics (if applicable). This gives us a guide as to what
    content will be on the site, and is essential to developing a consistent, easy
    to understand navigational system. This is also the point where we decide what
    technologies should be implemented – interactive forms, CMS (content management system)
    such as Statamic, etc.</p>
<p>We have reached our 1st Milestone
</p>
</div>
<div class="mb-3 py-1">
<h3>Phase 3 – Design</h3>
<p>Requirements &#8211; I will need your logo for the header design and any other
    company specific images that you want to be put in the header, footer, sidebars,
    etc… (Not the individual page content areas)</p>
    </div>
    <div class="mb-3 py-1">
<h3>Development of Primary Theme Files: 1 Week</h3>
<p>After we have discussed your website needs and decide on a plan of action, I
    send you a contract and invoice. A signed contract and 30% deposit reserve your
    start date on our development schedule. Once your start date arrives I create a
    demo "Staging Site" of your companies website, online at "staging.yourcompany.ca", so
    that you are able to view and interact with your website as it is being created.</p>
<p>At this time I will set about creating your server, uploading the framework, customizing your site files...</p>
</div>
<div class="mb-3 py-1">
<h3>Preliminary Design: 1 Week</h3>
<p>I begin working on the preliminary design of your Homepage. This takes 1 week for
    us to complete. At this point, I will give you access to the Staging Site, for
    your review and feedback on the preliminary design.</p>
    </div>
    <div class="mb-3 py-1">
<h3>Design any Additional Sub-Pages or Category Templates: 1 Week</h3>
<p>I will take this second week to develop your sub-pages in keeping with the design
    of your homepage, and upload them for your review. I will create additional page template layout styles – for example on a single site,
    you could have full width, 2 col left, 2 col right, 3 col left, 3 col middle, 3
    col right as required.</p>
<p>You may want a 1 column page without sidebars used for your Form page, while a
    different layout may be more desirable to you on other pages within your site.</p>
    </div>
    <div class="mb-3 py-1">
<h3>Design Revisions: 2 &#8211; 3 Business Days to 1 Week per Round (Rinse and Repeat)</h3>
<p>Once you&#8217;ve had a chance to look over the initial designs, you have the
    opportunity to provide feedback or request changes. Ideally you’ll get back to us
    in 1-2 business days, but we&#8217;ve had some clients take a week or more to get
    back to us. This is the type of thing that delays the project completion date. So
    how long this stage takes is really up to you… However, once you do get back to us
    with any revisions, the typical turnaround time for relatively simple changes is 2-3
    business days. Major changes to the design or requests for an entirely new design concept
    will take 1 week. We continue the process of fine tuning the design until I have your approval.</p>
<p>We have reached our 2nd Milestone
</p>
</div>
<div class="mb-3 py-1">
<h3>PHASE 4 &#8211; Development</h3>
<p>Requirements &#8211; I will need all page content including but not limited to the
    type copy and images.</p>
    </div>
    <div class="mb-3 py-1">
<h3>Development of Interior Page Content: 1 &#8211; 4 Weeks</h3>
<p>This is where estimating a time frame gets tricky, because the content and number
    of pages will vary greatly from site to site. If you have a 1-10 page site, for
    example, I can have the interior pages completed within 1 week. On the other hand,
    a 50 page website will likely take closer to 3-4 weeks to complete. Of course, if
    you are not prompt with providing all content for the pages, or if you frequently
    make revisions to previously approved content that you had already provided, that
    will slow down this phase as well.</p>
<p>We have reached our 3rd Milestone
</p>
</div>
<div class="mb-3 py-1">
<h3>PHASE 5 &#8211; Launch</h3>
<h3>Launch of your Website: 1 Week</h3>
<p>Once I have your approval on the files and any content pages I&#8217;ve
    created for you, I will send you a final invoice for the completed work. I do
    require final payment of the invoice before transferring everything from our
    Staging Site to the server, and point it at your chosen Domain name. Once I receive the balance, however,
    I immediately get to work installing your theme files, and any content pages that have been created for you.
    After the transfer is complete, I run through a final set
    of tests to be sure that everything is functional, and you are all set! This marks
    the official launch of your website, making it “Live” for the viewing public.

Phases, Milestones, Estimated Timelines &#038; Dates are used to keep the project on
track.</p>
<img src="http://www.rockwynnwebdesign.ca/wp-content/uploads/2015/02/phases-table700.jpg"
alt="Website Design Phases" width="700" height="327" class="size-full wp-image-2843"
srcset="https://rockwynnwebdesign.ca/wp-content/uploads/2015/02/phases-table700.jpg 700w,
https://rockwynnwebdesign.ca/wp-content/uploads/2015/02/phases-table700-303x142.jpg 303w,
https://rockwynnwebdesign.ca/wp-content/uploads/2015/02/phases-table700-454x212.jpg 454w"
sizes="(max-width: 700px) 100vw, 700px" />
</div>
<div class="mb-3 py-1">
<h3>Typical Turnaround Times</h3>
<p>Design Only 2-4 Weeks
Development Only 2-4 Weeks
Custom Theme 4-6 Weeks
Custom Theme with Interior Page Setup 6-8 Weeks</p>
<p>After your Project is completed, the Hosting &#038; Maintenance Plan will begin.</p>
</div>
<div class="mb-3 py-1">
<h3>Phase 6 &#8211; Hosting &amp; Maintenance</h3>
<p>I will Host your website on our hosting plan, and provide technical support as
    necessary. I will continue to keep your website files updated and ensure the
    smooth operation of your website.</p>
<p>The development of your website is not necessarily over, though. One way to
    bring repeat visitors to your site is to offer new content or products on a
    regular basis. I will continue working together with you to update the information
    on your website.</p></div>
    </section>
</div>
</div>
