<nav class="navbar navbar-redwood mb-0">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="nav-main">
            <ul class="nav navbar-nav">
                <li><a href="{{ link to='web-design-process' }}">Web Design Process</a></li>
                <li><a href="{{ link to='web-design-agreement' }}">Web Design Agreement</a></li>
                <li><a href="{{ link to='hosting-and-maintenance' }}">Hosting and Maintenance</a></li>
                <li><a href="{{ link to='terms-of-use' }}">Terms of Use</a></li>
                <li><a href="{{ link to='privacy-policy' }}">Privacy Policy</a></li>
                <li><a href="{{ link to='sitemap' }}">Sitemap</a></li>
            </ul>
        </div>
    </div>
</nav>
