<div class="bg-white text-white h-{{ height }} relative overflow-hidden" style="background-color: {{ background_color }}">
    {{ imgix:responsive_image_tag path="lake-bernard-park.jpg" auto="format" fit="max" w="1600" alt="Lake Bernard Park Sundridge" class="mix-{{ blend_mode or "none" }} pin absolute opacity-75 fit h-{{ height }} w-full"}}
    <div class="absolute w-full z-10 flex items-center text-center">
        <div class="flex-1 p-3">
            {{ imgix:responsive_image_tag path="phoenix-rising1x1.png" auto="format" fit="scale" class="centered" }}
            <h1 class="font-heading leading-none mb-3">{{ headline }}</h1>
            <h2 class="font-subheading italic text-5xl">{{ subhead }}</h2>
        </div>
    </div>
    <img class="fit mix-{{ blend_mode or 'none' }} w-full h-{{ height }}" src="{{ image }}" alt="{{ alt }}">
    {{ if show_topic }}<p class="absolute pin-b pin-l pin-r m-3 w-full text-center opacity-75 p-2 font-subheading">{{ topics | sentence_list }}</p>{{ /if }}
</div>
