<div class="bg-grey-darker text-white h-{{ height }} relative overflow-hidden" style="background-color: {{ background_color }}">
    <img src="{{ background_image }}" alt="" class="mix-{{ blend_mode or "none" }} pin absolute opacity-50 fit h-{{ height }} w-full">
    <div class="absolute h-full w-full z-10 flex items-center text-center">
        <div class="flex-1 p-3">
            <h1 class="leading-none mb-4">{{ headline }}</h1>
            <h2 class="font-subheading text-4xl">{{ subhead }}</h2>
            <p class="font-serif">{{ text }}</p>
            <div class="col-md-12 centered">
                <a class="btn btn-lg font-bold" href="/pricing">VIEW PRICING</a>
                <a class="btn btn-lg font-bold" href="/contact">CONNECT WITH US</a>
            </div>
        </div>
    </div>
    <img class="fit mix-{{ blend_mode or 'none' }} w-full h-{{ height }}" src="{{ image }}" alt="{{ alt }}">
    {{ if show_topic }}<p class="absolute pin-b pin-l pin-r m-3 w-full text-center opacity-75 p-2 font-subheading">{{ topics | sentence_list }}</p>{{ /if }}
</div>
