{{ partial:gallery-hero :headline="headline" :subhead="subhead" height="screen" show_topic="true" }}

<section class="bg-white container-fluid gallery">

		<!--<h1 class="centered mt-4">Rockwynn's Portfolio</h1>-->
		<blockquote>Dedicated to engaging the hearts and minds to inspire action</blockquote>
	<div class="gallery-images">
		<!--{{ images }}<img src="{{ value }}" />{{ /images }}-->
		<!--{{ images }}{{ imgix:responsive_image_tag path="rwd-red-smoke-on-black-outlined-4752x1404.jpg" auto="format" fit="scale" }}{{ /images }}-->
		{{ images }}{{ imgix:responsive_image_tag path="{{ value }}" auto="format" fit="scale" }}{{ /images }}

	</div>

</section>
