<div class="content bg-white">

    {{ partial:graphic-hero :headline="headline" :subhead="subhead" height="screen" show_topic="true" }}

    <div class="how-section2 bg-grey-darker centered">
        <div class="row border-my-grey border-2 border-solid">
            <div class="outer col-md-12 centered py-2 px-3">
                <h2 class="text-white mb-1">Strategy meets Art</h2>
                <hr class="rounded bg-white">
                <p class="text-white">We are experts at creating graphics that speak to your audience. A well-designed graphic speaks better than words alone.
                    Colors, pictures, and text creatively put together will strike the right emotional response from your viewers.
                    We treat every creative design job as unique. As a design studio, our goal is to create visuals that will drive your
                    online agenda.</p>
            </div>
        </div>
    </div>
    <div class="how-section3 centered">
        <div class="row">
            <div class="outer py-2 px-3">
                <h2 class="text-black">Great design makes you memorable.</h2>
                <hr class="rounded bg-black">
                <p>Do you need website graphics or graphic design for print? Do you want graphics that create a lasting impression?
                Or, do you need graphics that tell your story, turning your online visitors from browsers to loyal customers?
                Our team will work with you through the idea generation stages, developing and planning until the completed graphics are ready.
                Our experience has taught us that different audiences respond to different graphics and graphic styles.
                We make sense of your business needs and your targeted audience. You can always be sure that the visuals we create will
                have the desired impact on your clients.</p>
            </div>
        </div>
    </div>
    <div class="how-section2 bg-grey-darker centered">
        <div class="row border-my-grey border-2 border-solid">
            <div class="outer col-md-12 centered py-2 px-3">
                <h2 class="text-white mb-1">Print Advertising</h2>
                <hr class="rounded bg-white">
                <p class="text-white"> We are experts at creating graphics that speak to your audience. A well-designed graphic speaks better than words alone.
                Colors, pictures, and text creatively put together will strike the right emotional response from your viewers. We treat every
                creative design job as unique.</p>


                <p class="text-white">While search engine optimization and social media marketing is the preferred method
                of marketing nowadays, direct mail and print advertising are not dead! It is still important to
                brand your business via multiple marketing channels. And sometimes the best way to get noticed
                is through printed materials including brochures, posters and postcards.</p>


                <p class="text-white">It is another way to say to your customers we are the right company for you because we are the professionals! We can also
                help you with materials you might need for a trade show or other exhibit, such as banners, table
                covers, displays, promotional items...</p>




            </div>
        </div>
    </div>
    <div class="how-section1 centered">
        <div class="row">
            <div class="col-md-3 block">
                <h3 class="text-black">Business Cards</h3>
                    <ul class="list-style-none">
                        <li>Standard Business Cards</li>
                        <li>Siganture Business Cards</li>
                        <li>Premium Paper Business Cards</li>
                        <li>Kraft Business Cards</li>
                        <li>Soft Touch Business Cards</li>
                        <li>Pearl Business Cards</li><li>Magnetic Business Cards</li>
                        <li>Sizes & Shapes Business Cards</li>
                        <li>Brilliant Finish Business Cards</li>
                        <li>Business Card Holders</li>
                    </ul>
            </div>
            <div class="col-md-3 block">
                <h3 class="text-black">Labels & Stickers</h3>
                <ul class="list-style-none">
                    <li>Return Address Labels</li>
                    <li>Mailing Labels</li>
                    <li>Product Labels</li>
                    <li>Custom Stickers</li>
                    <li>Business Card Stickers</li>
                    <li>Window Decals</li>
                    <li>Name Tags</li>
                    <li>Gift Tags</li>
                </ul>
            </div>
            <div class="col-md-3 block">
                <h3 class="text-black">Invitations & Announcements</h3>
                <ul class="list-style-none">
                    <li>Wedding Invitations</li>
                    <li>Save the Date</li>
                    <li>Birthday Invitations</li>
                    <li>Party Invitations</li>
                    <li>Baby Shower Invitations</li>
                    <li>Business Invitations</li>
                    <li>Religious Announcements</li>
                    <li>Rounded Corner Invitations</li>
                    <li>Pearl Invitations</li>
                    <li>Thank You Cards</li>
                    <li>Envelopes</li>
                </ul>
            </div>
            <div class="col-md-3 block">
                <h3 class="text-black">Marketing Materials</h3>
                <ul class="list-style-none">
                    <li>Flyers</li>
                    <li>Postcards</li>
                    <li>Door Hangers</li>
                    <li>Menus</li>
                    <li>Table Tents</li>
                    <li>Brochures</li>
                    <li>Coasters</li>
                    <li>Bookmarks</li>
                    <li>Rack Cards</li>
                    <li>Gift Certificates</li>
                    <li>Loyalty Cards</li>
                    <li>Paper Bags</li>
                    <li>Hang Tags</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 block">
                <h3 class="text-black">Signs & Posters</h3>
                    <ul class="list-style-none">
                        <li>Banners</li>
                        <li>Posters</li>
                        <li>Yard Signs</li>
                        <li>Foam Board Signs</li>
                        <li>Window Decals</li>
                        <li>A-Frame Signs</li>
                        <li>Chalkboard SIGNS</li>
                        <li>Plastic Signs</li>
                        <li>Tablecloths</li>
                        <li>Table Runners</li>
                        <li>Flags</li>
                    </ul>
            </div>
            <div class="col-md-3 block">
                <h3 class="text-black">Photo Gifts</h3>
                <ul class="list-style-none">
                    <li>Personalized Mugs</li>
                    <li>Wall Calendars</li>
                    <li>Desk Calendars</li>
                    <li>Canvas Prints</li>
                    <li>Mouse Pads</li>
                </ul>
            </div>
            <div class="col-md-3 block">
                <h3 class="text-black">Stationary</h3>
                <ul class="list-style-none">
                    <li>Appointment Cards</li>
                    <li>Notebooks</li>
                    <li>Letterhead</li>
                    <li>Pens</li>
                    <li>Envelope Seals</li>
                    <li>Compliment Cards</li>
                </ul>
            </div>
            <div class="col-md-3 block">
                <h3 class="text-black">Magnets</h3>
                <ul class="list-style-none">
                    <li>Car Door Magnets</li>
                    <li>Magnetic Business Cards</li>
                    <li>Magnetic Postcards</li>
                    <li>Magnetic Calendars</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="how-section2 bg-grey-darker centered">
        <div class="row border-my-grey border-2 border-solid">
            <div class="col-md-12 outer centered py-2 px-3">
                <h2 class="text-white mb-1">Graphic Design Specs</h2>
                <hr class="rounded bg-white">
                <p class="text-white">I design for web and/or print advertising. Your designs will be provided in color, greyscale and black & white, depending on your needs.
                    Designs will be created in CMYK vector for print and RGB vector/raster for web. Final Files will be provided in AI, PDF, JPG and PNG.</p>
            </div>
        </div>
    </div>
</div>
