<div class="content bg-white">

    {{ partial:hero-without-phoenix :headline="headline" :subhead="subhead" height="screen" show_topic="true" }}
<div class="how-section3">
    <div class="row">
        <div class="outer">

            <h3>Graphic Design Pricing</h3>
            <hr class="rounded">
            <p>I design for web and/or print advertising. Your designs will be provided in color, greyscale and black & white, depending on your needs.
                Designs will be created in CMYK vector for print and RGB vector/raster for web. Final Files will be provided in AI, PDF, JPG and PNG.</p>
            <p>All pricing is in Canadian Dollars</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 block">
            <h3>Business Cards</h3>
                <ul class="list-style-none">
                    <li>Standard Business Cards</li>
                    <li>Siganture Business Cards</li>
                    <li>Premium Paper Business Cards</li>
                    <li>Kraft Business Cards</li>
                    <li>Soft Touch Business Cards</li>
                    <li>Pearl Business Cards</li><li>Magnetic Business Cards</li>
                    <li>Sizes & Shapes Business Cards</li>
                    <li>Brilliant Finish Business Cards</li>
                    <li>Business Card Holders</li>
                </ul>
        </div>
        <div class="col-md-3 block">
            <h3>Labels & Stickers</h3>
            <ul class="list-style-none">
                <li>Return Address Labels</li>
                <li>Mailing Labels</li>
                <li>Product Labels</li>
                <li>Custom Stickers</li>
                <li>Business Card Stickers</li>
                <li>Window Decals</li>
                <li>Name Tags</li>
                <li>Gift Tags</li>
            </ul>
        </div>
        <div class="col-md-3 block">
            <h3>Invitations & Announcements</h3>
            <ul class="list-style-none">
                <li>Wedding Invitations</li>
                <li>Save the Date</li>
                <li>Birthday Invitations</li>
                <li>Party Invitations</li>
                <li>Baby Shower Invitations</li>
                <li>Business Invitations</li>
                <li>Religious Announcements</li>
                <li>Rounded Corner Invitations</li>
                <li>Pearl Invitations</li>
                <li>Thank You Cards</li>
                <li>Envelopes</li>
            </ul>
        </div>
        <div class="col-md-3 block">
            <h3>Marketing Materials</h3>
            <ul class="list-style-none">
                <li>Flyers</li>
                <li>Postcards</li>
                <li>Door Hangers</li>
                <li>Menus</li>
                <li>Table Tents</li>
                <li>Brochures</li>
                <li>Coasters</li>
                <li>Bookmarks</li>
                <li>Rack Cards</li>
                <li>Gift Certificates</li>
                <li>Loyalty Cards</li>
                <li>Paper Bags</li>
                <li>Hang Tags</li>
            </ul>
        </div>
    </div>



    <div class="row">
        <div class="col-md-3 block">
            <h3>Signs & Posters</h3>
                <ul class="list-style-none">
                    <li>Banners</li>
                    <li>Posters</li>
                    <li>Yard Signs</li>
                    <li>Foam Board Signs</li>
                    <li>Window Decals</li>
                    <li>A-Frame Signs</li>
                    <li>Chalkboard SIGNS</li>
                    <li>Plastic Signs</li>
                    <li>Tablecloths</li>
                    <li>Table Runners</li>
                    <li>Flags</li>
                </ul>
        </div>
        <div class="col-md-3 block">
            <h3>Photo Gifts</h3>
            <ul class="list-style-none">
                <li>Personalized Mugs</li>
                <li>Wall Calendars</li>
                <li>Desk Calendars</li>
                <li>Canvas Prints</li>
                <li>Mouse Pads</li>
            </ul>
        </div>
        <div class="col-md-3 block">
            <h3>Stationary</h3>
            <ul class="list-style-none">
                <li>Appointment Cards</li>
                <li>Notebooks</li>
                <li>Letterhead</li>
                <li>Pens</li>
                <li>Envelope Seals</li>
                <li>Compliment Cards</li>
            </ul>
        </div>
        <div class="col-md-3 block">
            <h3>Magnets</h3>
            <ul class="list-style-none">
                <li>Car Door Magnets</li>
                <li>Magnetic Business Cards</li>
                <li>Magnetic Postcards</li>
                <li>Magnetic Calendars</li>
            </ul>
        </div>
    </div>
</div>
</div>























    {{ story }}
        {{ if type == "hero" }}
            {{ partial:hero-without-phoenix }}
        {{ /if }}

        {{ if type == "text" }}
            <div class="{{ if first }}mt-3{{ /if }} text-center px-2">
                {{ text }}
            </div>
        {{ /if }}

        {{ if type == "image" }}
            <img src="{{ image }}" class="mx-auto mt-5 block max-w-{{ size }}">
            {{ if image | get:alt }}<p class="text-base text-grey-dark text-center mt-2 mb-5 italic"><!--{{ image | get:alt }}--></p>{{ /if }}
        {{ /if }}

        {{ if type == "video" }}
        <div class="max-w-xl mx-auto">
            <div class="video-embed">
                {{ if video | is_embeddable }}
                <iframe src="{{ video | embed_url }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                {{ else }}
                <video src="{{ video | embed_url }}"></video>
                {{ /if }}
            </div>
        </div>
        {{ /if }}

        {{ if type == "two_col" }}
        <div class="flex flex-wrap lg:max-w-xl mx-auto text-justify">
            <div class="flex-1 min-w-xs p-4">
                {{ col_one | markdown }}
            </div>
            <div class="flex-1 min-w-xs p-4">
                {{ col_two | markdown }}
            </div>
        </div>
        {{ /if }}
    {{ /story }}

</div>
