<div class="content bg-white">

    {{ partial:hero :headline="headline" :subhead="subhead" height="screen" show_topic="true" }}

<div class="how-section1">
   <div class="row">
      <div class="outer col-md-6">
          <div class="">
              <h2>Stunning Design.</br>Solid Development.</h2>
              <hr class="rounded">
              <p>There is no compromise with Rockwynn, in the very best way – our
                  philosophy is to treat every step in a project’s process as important
                  as the next. We’ve assembled the best design and development strategies
                  in Sundridge in order to deliver cutting-edge solutions using the latest
                  technologies.</p>
          </div>
          <div>
              <a class="" href="/services/">VIEW OUR SERVICES ></a>
          </div>
      </div>
      <div class="col-md-6">
          <div class="h-full">
          <img src="/assets/coding.jpg">
      </div>
      </div>
   </div>
</div>
<div class="how-section2">
   <div class="row">
      <!--<div class="col-md-6">

          <img src="/assets/Process-Graphics_Web-1024x603.png">
      </div>-->
          <div class="outer col-md-12">
              <div class="">
                  <h2>A systematic</br>approach.</h2>
                  <hr class="rounded">
                  <p>Utilizing years of experience in project-based work, Rockwynn has developed a
                      tried and trusted process that takes our clients’ business objectives and helps
                      makes them a reality. Every component of the process has been specifically designed
                      to allow for collaboration, facilitating client feedback into the process.</p>
                  <p>Our philosophy at Rockwynn is to build our websites around the content, rather than
                      build an empty site and shoehorn content inside of it. In the end, the website needs
                      to tell a story to the key audiences, and we want to know what the story is before
                      we start to think about design.</p>

                  <a class="" href="/web-design-process/">VIEW OUR PROCESS ></a>
              </div>
          </div>
      </div>
</div>
<div class="how-section3">
    <div class="row">
        <div class="outer">
            <img src="/assets/Process-Graphics_Web-1024x603.png">
        </div>
    </div>
</div>
<div class="how-section2">
    <div class="row">
        <div class="outer col-md-12">
            <h2>Well-crafted, custom solutions</h2>
            <hr class="rounded">
            <p>As a company with a long history of building custom development solutions,
                we know every client has different needs. We break down our main service
                offerings into the following categories</p>
        </div>
    </div>

</div>
<!--<div class="how-section5 bg-white text-white h-{{ height }} relative overflow-hidden" >
     <img src="https://rwd.imgix.net/woman-coffee-home-office.jpg?ch=DPR&auto=compress,enhance,format&fit=scale" class="mix-{{ blend_mode or "none" }} fit h-{{ height }} w-full">
 </div>-->
<div class="how-section4">
   <div class="row">
      <div class="outer col-md-6">
          <div class="">
              <div class="my-image my-image-1 mx-auto">
                  <img src="/assets/services-web-design-icon.svg" class="my-image mx-auto">
              </div>
              <h2 class="center">Website Design</h2>
              <p>We make beautiful, responsive websites that we’re proud of.
                  Our designs are thoroughly researched, and follow a process
                  of planning, wireframing and mockup design.</p>
          </div>
          <div>
              <a class="" href="/web-design/">LEARN MORE ></a>
          </div>
      </div>
      <div class="outer col-md-6">
          <div class="">
              <div class="my-image mx-auto">
                   <img src="/assets/services-branding-icon.svg" class="my-image mx-auto">
              </div>
              <h2 class="center">Graphic Design</h2>
              <p>We are experts at creating graphics that speak to your audience. A well-designed graphic speaks
                  better than words alone. Colors, pictures, and text creatively put together will strike the right
                  emotional response from your viewers. We treat every creative design job as unique.</p>
          </div>
          <div>
              <a class="" href="/graphic-design/">LEARN MORE ></a>
          </div>
      </div>
   </div>
</div>
<div class="how-section6">
    <div class="row">
        <div class="outer">
            <div class="col">
                <h2>Let's chat about your</br> business objectives.</h2>
                <hr class="rounded">
                <p>Many of our clients come to us frustrated with the performance of their current website.
                    Some have spent thousands on web design and development, and aren't seeing the results
                    they expect for the investment they have made.  Others have tried to save money by building
                     their own websites using DIY website building services. Whatever the case may be, the end
                     result is usually not achieving a whole lot of anything.</p>
                <a class="" href="/contact/">CONNECT WITH US ></a>
            </div>
        </div>
    </div>
</div>

    {{ story }}
        {{ if type == "hero" }}
            {{ partial:hero }}
        {{ /if }}

        {{ if type == "text" }}
            <div class="{{ if first }}mt-3{{ /if }} px-2">
                {{ text }}
            </div>
        {{ /if }}

        {{ if type == "image" }}
            <img src="{{ image }}" class="mx-auto mt-5 block max-w-{{ size }}">
            {{ if image | get:alt }}<p class="text-base text-grey-dark text-center mt-2 mb-5 italic">{{ image | get:alt }}</p>{{ /if }}
        {{ /if }}

        {{ if type == "video" }}
        <div class="max-w-xl mx-auto">
            <div class="video-embed">
                {{ if video | is_embeddable }}
                <iframe src="{{ video | embed_url }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                {{ else }}
                <video src="{{ video | embed_url }}"></video>
                {{ /if }}
            </div>
        </div>
        {{ /if }}

        {{ if type == "two_col" }}
        <div class="flex flex-wrap lg:max-w-xl mx-auto text-justify">
            <div class="flex-1 min-w-xs p-4">
                {{ col_one | markdown }}
            </div>
            <div class="flex-1 min-w-xs p-4">
                {{ col_two | markdown }}
            </div>
        </div>
        {{ /if }}
    {{ /story }}

</div>
