
<div class="content bg-white">

    {{ partial:pricing-hero :headline="headline" :subhead="subhead" height="screen" show_topic="true" }}

    <div class="how-section3">
        <div class="row">
            <div class="outer">

                <h2 class="text-black">Website Creation Pricing</h2>
                <hr class="rounded">
                <p>The packages below are intended as a starting point for our web design services. This gives you a
                rough idea of the cost without having to contact us for pricing. Every customer is unique and your
                project has unique requirements. This is why we must discuss your project in detail before providing
                you with a written estimate. If you have some questions give us a call <a href="tel:+17053842644" rel="nofollow">705.384.2644</a>.</p>
            </div>
        </div>



        <div class="mx-auto">
            <div class="row">
                <div class="col-md-4 firstone block">
                    <h2 class="text-white">Entrepreneur</h2>
                    <h3 class="text-white">Starting at $1500</h3>
                        <p class="text-white">Our entrepreneur package is the perfect fit when looking for a
                            cost-effective way to get your business or organization online.</p>
                            <ul class="mx-auto text-white" style="font-size:16px;">
                               <li>Up to 5 Pages</li>
                               <li>Mobile/Tablet Ready</li>
                               <li>Custom Design</li>
                               <li>Gallery/Portfolio Setup</li>
                               <li>Social Media Integration</li>
                               <li>Contact Form</li>
                               <li>Copywriting 3 Pages</li>
                               <li>1 .ca Domain Name</li>
                               <li>1 Domain email</li>
                               <li>1st Year Hosting & Maintenance</li>
                               <li>1st Year SSL Certificate</li>
                               <li>Page Speed Optimization</li>
                               <li>2 Rounds of Revisions</li>
                            </ul>
                </div>

                <div class="col-md-4 secondone block">
                    <h2 class="text-black">Small Business</h2>
                    <h3 class="text-black">Starting at $3000</h3>
                    <p class="text-black">Our small business package targets your audience and competes in your marketplace.
                        Most businesses in this package are established and already have an existing website.</p>
                        <ul class="mx-auto">
                           <li>Up to 10 Pages</li>
                           <li>Mobile/Tablet Ready</li>
                           <li>Custom Design</li>
                           <li>Gallery/Portfolio Setup</li>
                           <li>Social Media Integration</li>
                           <li>Custom Contact Forms</li>
                           <li>Blog/News Portal Setup</li>
                           <li>Copywriting 7 Pages</li>
                           <li>1 .ca, 1 .com Domain Name</li>
                           <li>2 Domain email</li>
                           <li>1st Year Hosting & Maintenance</li>
                           <li>1st Year SSL Certificate</li>
                           <li>Page Speed Optimization</li>
                           <li>3 Rounds of Revisions</li>
                        </ul>
                </div>
                <div class="col-md-4 firstone block">
                    <h2 class="text-white">Industry Leader</h2>
                    <h3 class="text-white">Starting at $6000</h3>
                    <p class="text-white">Our industry leader package is aimed to help you become a leader in your industry online.
                        Businesses in this package are established and are looking to make  efforts to have to performing website their industry.</p>
                        <ul class="text-white">
                           <li>Up to 15 Pages</li>
                           <li>Mobile/Tablet Ready</li>
                           <li>Custom Design</li>
                           <li>Gallery/Portfolio Setup</li>
                           <li>Social Media Integration</li>
                           <li>Blog/News Portal Setup</li>
                           <li>Advanced Forms</li>
                           <li>Copywriting 10 Pages</li>
                           <li>On-site Search Engine</li>
                           <li>1 .ca, 1 .com Domain Name</li>
                           <li>up to 5 Domain emails</li>
                           <li>1st Year Hosting & Maintenance</li>
                           <li>1st Year SSL Certificate</li>
                           <li>Page Speed Optimization</li>
                           <li>4+ Rounds of Revisions</li>
                        </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="outer">

                <h2 class="text-black">Website Development</h2>
                <hr class="rounded">
                <p>Our websites are custom built to be genuine and durable. Rather than use a pre-built template we build our websites from scratch
                so that they can be customized. This allows a flexibility that we feel is important to deliver to our clients. We work hard to make our websites
                look beautiful and work hard for you. We pay close attention to web standards and best practices. Some of our projects include some, or all,
                of the following features:</p>
                <br>
                <p>Planning and Strategy for Your Specific Website</p>
                <p>Custom Design</p>
                <p>Custom Website Development on Statamic CMS</p>
                <p>Wire Frame Planning to Determine Clear User Interface</p>
                <p>Custom Design with Branding Integration and Graphics</p>
                <p>Responsive Design</p>
                <p>Social Media Integration</p>
                <p>Blog</p>
                <p>Video Integration</p>
                <p>Custom Google Maps</p>
                <p>Contact Form</p>
                <p>Google Analytics</p>
                <p>Social Share Bars</p>
                <p>Photo Sourcing</p>
                <p>404 Redirect</p>
                <p>Browser Favicon</p>
                <p>Sitemap</p>
                <p>1 Hour One-On-One CMS Training Session</p>
            </div>
        </div>
    </div>
</div>
