
<div class="content bg-white">

    {{ partial:hero :headline="headline" :subhead="subhead" height="screen" show_topic="true" }}

    <div class="how-section3">
        <div class="row">
            <div class="outer">

                <h3>Website Creation Pricing</h3>
                <hr class="rounded">
                <p>The packages below are intended as a starting point for our web design services. This gives you a
                rough idea of the cost without having to contact us for pricing. Every customer is unique and your
                project has unique requirements. This is why we must discuss your project in detail before providing
                you with a written estimate. If you have some questions give us a call 1-705-384-2644.</p>
            </div>
        </div>



        <div class="mx-auto">
            <div class="row">
                <div class="col-md-4 firstone block">
                    <h3 class="">Entrepreneur</h3>
                    <h4 class="">Starting at $1500</h4>
                        <p class="">Our entrepreneur package is the perfect fit when looking for a
                            cost-effective way to get your business or organization online.</p>
                            <ul class="mx-auto" style="font-size:16px;">
                               <li>Up to 5 Pages</li>
                               <li>Mobile/Tablet Ready</li>
                               <li>Custom Design</li>
                               <li>Gallery/Portfolio Setup</li>
                               <li>Social Media Integration</li>
                               <li>Contact Form</li>
                               <li>Copywriting 3 Pages</li>
                               <li>1 .ca Domain Name</li>
                               <li>1 Domain email</li>
                               <li>1st Year Hosting & Maintenance</li>
                               <li>1st Year SSL Certificate</li>
                               <li>Page Speed Optimization</li>
                               <li>2 Rounds of Revisions</li>
                            </ul>
                </div>

                <div class="col-md-4 secondone block">
                    <h3 class="">Small Business</h3>
                    <h4 class="">Starting at $3000</h4>
                    <p class="">Our small business package targets your audience and competes in your marketplace.
                        Most businesses in this package are established and already have an existing website.</p>
                        <ul class="mx-auto">
                           <li>Up to 10 Pages</li>
                           <li>Mobile/Tablet Ready</li>
                           <li>Custom Design</li>
                           <li>Gallery/Portfolio Setup</li>
                           <li>Social Media Integration</li>
                           <li>Custom Contact Forms</li>
                           <li>Blog/News Portal Setup</li>
                           <li>Copywriting 7 Pages</li>
                           <li>1 .ca, 1 .com Domain Name</li>
                           <li>2 Domain email</li>
                           <li>1st Year Hosting & Maintenance</li>
                           <li>1st Year SSL Certificate</li>
                           <li>Page Speed Optimization</li>
                           <li>3 Rounds of Revisions</li>
                        </ul>
                </div>
                <div class="col-md-4 firstone block">
                    <h3 class="">Industry Leader</h3>
                    <h4 class="">Starting at $6000</h4>
                    <p>Our industry leader package is aimed to help you become a leader in your industry online.
                        Businesses in this package are established and are looking to make  efforts to have to performing website their industry.</p>
                        <ul>
                           <li>Up to 15 Pages</li>
                           <li>Mobile/Tablet Ready</li>
                           <li>Custom Design</li>
                           <li>Gallery/Portfolio Setup</li>
                           <li>Social Media Integration</li>
                           <li>Blog/News Portal Setup</li>
                           <li>Advanced Forms</li>
                           <li>Copywriting 10 Pages</li>
                           <li>On-site Search Engine</li>
                           <li>1 .ca, 1 .com Domain Name</li>
                           <li>up to 5 Domain emails</li>
                           <li>1st Year Hosting & Maintenance</li>
                           <li>1st Year SSL Certificate</li>
                           <li>Page Speed Optimization</li>
                           <li>4+ Rounds of Revisions</li>
                        </ul>
                </div>
            </div>
        </div>




































        <div class="row">
            <div class="outer">

                <h3>Graphic Design Pricing</h3>
                <hr class="rounded">
                <p>I design for web and/or print advertising. Your designs will be provided in color, greyscale and black & white, depending on your needs.
                    Designs will be created in CMYK vector for print and RGB vector/raster for web. Final Files will be provided in AI, PDF, JPG and PNG.</p>
                <p>All pricing is in Canadian Dollars</p>
            </div>
        </div>
