<div class="content bg-white">
    {{ partial:webdesign-hero :headline="headline" :subhead="subhead" height="screen" show_topic="true" }}
    <div class="centered px-2 pt-5 pb-5 bg-grey-darker">
        <h3 class="text-white uppercase">Awesome comes standard</h3>
        <p class="text-white">A website is more than your digital presence. It’s an opportunity to showcase your unique brand.
        A means to attract visitors, demonstrate what you do, and encourage them to take action.In today’s
        competitive environment, you need a website that combines elegance and sophistication with an
        exceptional user experience. One that marries form with functionality, has the power under
        the hood and is built upon advanced, modern technology to propel your business forward.
        Rockwynn can creating an online presence for your business that captures the imagination,
        drives user behavior, and converts
        visitors into customers.</p>
        <h4 class="text-white uppercase pt-2 ">Here's whats in your new website</h4>
        <div class="container pt-3 ml-3">
            <div class="col-sm-4">
                <div class="mb-3 ml-4 text-left">
                    <h6 class="text-white uppercase"><img src="https://rwd.imgix.net/icons/checkmark1.png?ch=DPR&auto=compress,enhance,format&fit=crop&h=20&w=20"> Custom Website Design</h6>
                    <h6 class="text-white uppercase"><img src="https://rwd.imgix.net/icons/checkmark1.png?ch=DPR&auto=compress,enhance,format&fit=crop&h=20&w=20"> Search Engine Friendly</h6>
                    <h6 class="text-white uppercase"><img src="https://rwd.imgix.net/icons/checkmark1.png?ch=DPR&auto=compress,enhance,format&fit=crop&h=20&w=20"> Portfolio/Gallery</h6>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-3 ml-4 text-left">
                    <h6 class="text-white uppercase"><img src="https://rwd.imgix.net/icons/checkmark1.png?ch=DPR&auto=compress,enhance,format&fit=crop&h=20&w=20"> SSL Certificate</h6>
                    <h6 class="text-white uppercase"><img src="https://rwd.imgix.net/icons/checkmark1.png?ch=DPR&auto=compress,enhance,format&fit=crop&h=20&w=20"> Social Media Ready</h6>
                    <h6 class="text-white uppercase"><img src="https://rwd.imgix.net/icons/checkmark1.png?ch=DPR&auto=compress,enhance,format&fit=crop&h=20&w=20"> Maintenance/Hosting</h6>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-3 ml-4 text-left">
                    <h6 class="text-white uppercase"><img src="https://rwd.imgix.net/icons/checkmark1.png?ch=DPR&auto=compress,enhance,format&fit=crop&h=20&w=20"> Mobile/ tablet responsive</h6>
                    <h6 class="text-white uppercase"><img src="https://rwd.imgix.net/icons/checkmark1.png?ch=DPR&auto=compress,enhance,format&fit=crop&h=20&w=20"> Blogging ready</h6>
                    <h6 class="text-white uppercase"><img src="https://rwd.imgix.net/icons/checkmark1.png?ch=DPR&auto=compress,enhance,format&fit=crop&h=20&w=20"> Contact form</h6>
                </div>
            </div>
        </div>
    </div>

    <div class=" mx-auto text-justify" style="background-color:#f4f1f4;">
        <div class="pt-4 pr-4 pl-4">
            <p class="centered text-black text-5xl">Our unwavering committment to Quality, Innovation,
                Service and Teamwork defines the culture of Rockwynn.</p>
        </div>
        <div class="row p-4">
            <div class="col-md-3 p-3 qist" style="background-image: url(https://rwd.imgix.net/icons/paint-Q.png)">
                <h2 class="text-black">Quality.</h2>
                <p class="text-grey-dark">We pay attention to detail. Not just to find bugs and defects, but to make the best possible product—
                    from user experience, to information architecture.</p>
            </div>
            <div class="col-md-3 p-3 qist" style="background-image: url(https://rwd.imgix.net/icons/paint-I.png)">
                <h2 class="text-black">Innovation.</h2>
                <p class="text-grey-dark">The wow factor. When a user experiences your product and has that “whoa, that's cool”
                    reaction— that’s what we’re striving for.</p>
            </div>
            <div class="col-md-3 p-3 qist" style="background-image: url(https://rwd.imgix.net/icons/paint-S.png)">
                <h2 class="text-black">Service.</h2>
                <p class="text-grey-dark">Communication is key. Our projects require intimate relationships with our clients. And that only
                    happens when communication is candid, transparent, and frequent.</p>
            </div>
            <div class="col-md-3 p-3 qist" style="background-image: url(https://rwd.imgix.net/icons/paint-T.png)">
                <h2 class="text-black">Teamwork.</h2>
                <p class="text-grey-dark">Teamwork makes the dream work. Working with our clients as if they were one of us—that’s how the magic happens.</p>
            </div>
        </div>
    </div>


    <div class="px-2 pt-5 pb-5">
        <div class="flex">

</div>
    <!--<div class="row">
        <div class="col-md-12 ">
            <h4 class="text-white">A WEBSITE AS PROFESSIONAL AS YOU ARE.<span class="underline">STARTING AT $1500</span></h4>
            <h4>Why use Rockwynn's Website Design Service?</h4>
            <h5 class="uppercase">You need a website but you dont have the time or expertise to build one</h5>
                <p>You’re busy building and growing your business, let us take care of this important step so you can start
                communicating with your customers today.</p>
            <h5 class="uppercase">SECURITY AND SAFETY</h5>
                <p>With integrated SSL security and protected access to your website’s dashboard, your website is secure.</p>
            <h5 class="uppercase">SEARCH ENGINE OPTIMIZATION</h5>
                <p>We’ll make sure your site is built with the correct standards in mind so that engines can index it quickly and efficiently.</p>
        </div>
        </div>
    <h3 class="leading-none">CUSTOM WEB DESIGN</h3>
    <h3 class="font-subheading">What does your online presence say about you?</h3>
    <p>A website is the foundation of your business' online presence. That foundation should be both professional and personalized. Ready to start building a noticeable brand? We can get you there.</p>
    <p>Most consumers will search for businesses online before visiting them in person, so it’s important to make a great first impression.
    We’ll show you the opportunities that a great website can create for your business, and help you craft an online presence
    that is responsive and appealing. Tell us your vision! We’ll work with you to design and develop a website that will help your
    business succeed.</p><p>Customers want to connect with you online.
    Is your website up to the task? We build websites to suit every business and every budget.</p>
    <p>Rockwynn will support you to update your business website and to reshape it with a smooth design which helps to draw
    customers attention and to achieve your business goals.</p>
    <p>Expect nothing less than perfect from Rockwynn</p>
    -
    type: image
    size: xl
    image: /assets/services-marketing-icon.svg
    Web Design Company
A WEBSITE AS PROFESSIONAL AS YOU ARE. STARTING AT $2200
It takes a lot of effort to make your clients happy. You sweat the small stuff. You don’t cut corners. You spend the extra time to ensure it’s done right and the finished product is outstanding.
For many of your referrals your website will be their first impression of you; that’s why it’s important that your website matches the quality and professionalism of your work.


view Pricing
view Portfolio

AWESOME COMES STANDARD
Looking for custom Web Design in Oshawa? Our Web Design professionals create websites using WordPress. They know the best websites use content tailored to the needs of the website’s potential customers. So they create Easy to navigate menus, beautiful graphics, and “Search Engine Friendly” Content. Other companies might, but here at PixelSmith we don’t outsource our services overseas or through affiliates. All our staff are located right here in the Durham Region. — Saving you time and money. Our whole team of Web Designers, Search Engine Optimization Experts, Photographers, and Copywriters work together to create a website that gets results. Technology changes rapidly and so does the art and science of web design. Our team works hard to stay on top of these changes so you don’t need to. Setup a free consultation with best web design company in Oshawa.

HERE'S WHAT'S IN YOUR NEW WEBSITE


One size doesn't fit all.
Over the years our Web Designers have gotten to know our client's pretty well. From completing hundreds of projects we came up with some pre-defined packages to help you achieve their goals.
 – No more estimates or quotes, pricing made simple.

STARTER
$2200
Design/Setup of 3 pages
Mobile & Tablet Ready
WordPress CMS
Gallery/Portfolio Setup
Social Media Integration
Website Traffic Tracking
Copywriting 1 Page
ACCELERATOR
$4200
Design/Setup of 5 pages
Mobile & Tablet Ready
WordPress CMS
Gallery/Portfolio Setup
Social Media Integration
Website Traffic Tracking
Blog/News Portal Setup
Custom Contact Forms
Copywriting 3 Pages
ADVANTAGE
$6200
Design/Setup of 7 pages
Mobile & Tablet Ready
WordPress CMS
Gallery/Portfolio Setup
Social Media Integration
Website Traffic Tracking
Blog/News Portal Setup
Custom Contact Forms
Copywriting 5 Pages
On-Site Search Engine Optimization
ENTERPRISE & ECOMMERCE
$7800+
Design/Setup of 10 pages
Mobile & Tablet Ready
WordPress or Shopify CMS
Gallery/Portfolio Setup
Social Media Integration
Website Traffic Tracking
Blog/News Portal Setup
Custom Contact Forms
Copywriting 7 Pages
On-Site Search Engine Optimization-->
