<div class="content bg-white">
    {{ partial:web-design-hero :headline="headline" :subhead="subhead" height="screen" show_topic="true" }}
    <div class="how-section1 centered">
       <div class="row">
          <div class="outer col-md-6 py-4 px-3">
              <div class="">
                  <h2 class="text-black mb-1">Stunning Design.</br>Solid Development.</h2>
                  <hr class="rounded bg-black">
                  <p>There is no compromise with Rockwynn, in the very best way – our
                      philosophy is to treat every step in a project’s process as important
                      as the next. We’ve assembled the best design and development strategies
                      in Sundridge in order to deliver cutting-edge solutions using the latest
                      technologies.</p>
              </div>
              <div>
                  <a class="text-black font-bold" href="/pricing/">VIEW OUR PACKAGES ></a>
              </div>
          </div>
          <div class="col-md-6 px-0">
              <div class="">
                  {{ imgix:responsive_image_tag path="coding.jpg" auto="format" fit="scale" }}
          </div>
          </div>
       </div>
    </div>
    <div class="how-section2 bg-grey-darker centered">
       <div class="row border-my-grey border-2 border-solid">
              <div class="outer col-md-12 py-2 px-3">
                  <div class="">
                      <h2 class="text-white mb-1">A systematic</br>approach.</h2>
                      <hr class="rounded bg-white">
                      <p class="text-white">Utilizing years of experience in project-based work, Rockwynn has developed a
                          tried and trusted process that takes our clients’ business objectives and helps
                          makes them a reality. Every component of the process has been specifically designed
                          to allow for collaboration, facilitating client feedback into the process.</p>
                      <p class="text-white">Our philosophy at Rockwynn is to build our websites around the content, rather than
                          build an empty site and shoehorn content inside of it. In the end, the website needs
                          to tell a story to the key audiences, and we want to know what the story is before
                          we start to think about design.</p>
                  </div>
              </div>
          </div>
    </div>
    <div class="how-section3 centered">
        <div class="row">
            <div class="outer py-2 px-3">
                {{ imgix:responsive_image_tag path="Process-Graphics_Web-1024x603.png" auto="format" fit="scale" }}
            </div>
        </div>
    </div>
</div>
