.my-image {
    max-width: 300px;
    max-height: 300px;
    padding-bottom:4%;
}
.my-image-1 {
    max-width: 300px;
    max-height: 300px;
    padding-bottom:4%;
}.my-image-1 img {
    margin-top: 17px;
}
